page-tables {

// All Nav Bar stuff, so anything up top.
	// title
	#topleft {
		float: left;
		padding-left: 25px;
		width: 75%;
	}

	.nav-bar {
		display: flex;
	}

	// Title black or white
	.nav-bar h3 {
		//color: white // comment line out to make dark
		color: color($colors, lighter);
	}

	.nav-bar button {
		float: right;
		width: 150px;
		height: 50px;
		padding-left: 10%;
		padding-right: 10%;
		margin-left: 10px;
		margin-right: 10px;

		// button colors
		//border-color: white;
		//color: white;
		border-color: color($colors, lighter);
		color: color($colors, lighter);

		// dark theme
		// border-color: color($colors, dark);
		// color: color($colors, dark);
	}

	#layoutview {
		padding-right: 25%;
		width:80%;
		padding: 5px;
	}

	#sideview {
		margin-left: 80%;
		width:20%;
		background-color: color($colors, dark);
	}

	#waitlist {
		width: 100%;
		height: 100%;
		background-color: color($colors, dark);
		padding: 10px;
	}

	.resparty, .selectedserver {
		color: color($colors, primary);
	}

	.waitparty, .server {
		color: color($colors, medium);
	}


	.tablediv {
		position: absolute;
		display: inline;
		//margin: 20px;
		padding: 20px;
		height: auto;
		width: 160px;
	}

	.table-content {
		height:100%;
		width:100%;
		padding:5%;
	}

	.tablebuttoncapacity {
		// margin-top: 40%;
		// height: 65%;
		// width: 75%;
		// position: absolute;

		font-size: 24px;

	}

	.tablebuttonID {
		// height: 65%;
		// width: 25%;
		color: color($colors, medium);
	}

	.tablebuttonserver {
		// width: 100%;
		// height: 35%;
		color: color($colors, medium);
	}

	.table, .tablenotfree, .tablechooseme {
		width: 100%;
		height: 100%;
		font-size: 28px;
		font-weight: 600;
		padding: 0px;
		margin: 0px;
	}

	.tablenotfree {
		//background-color: color($colors, secondary);
		color: color($colors, secondary);
		border-color: color($colors, secondary);
	}

	.tablechooseme {
		//background-color: color($colors, tertiary);
		color: color($colors, tertiary);
		border-color: color($colors, tertiary);
	}

	.modalbase {
		h3 {
			margin-bottom: 20px;
		}
		h5 {
			margin-bottom: 10px;
		}
	}

	#tablemodal {
		height: 67%;
		width: 50%;
		margin: auto;
		margin-top: 20%;
		//background-color: rgba(color($colors, middark), 0.15);
	}

	#partymodal {
		height: 55%;
		width: 70%;
		margin: auto;
		margin-top: 23%;
		//background-color: rgba(color($colors, middark), 0.15);
	}

	#servermodal {
		border-radius: 5px;
		padding-top: 15px;
		padding-bottom: 2px;
		padding-left: 30px;
		padding-right: 30px;
		width: 45%;
		height: 100%;
		margin: auto;
	}

	#numpadmodal {
		height: 100%;
		margin-left: 22%;
		margin-right: 22%;
	}

	.no-scroll .scroll-content{
		overflow: hidden;
	}

	#addtablebutton {
		float: left;
		height: 100%;
		width: 50px;
	}

	#addbutton {
		height: 45px;
		width: 45px;
		font-size: 30px;
		font-weight: 650;
	}

}
