page-create-restaurant {

    #container {
        height: 100%;
        width: 40%;
        padding-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

	#numpadmodal {
        height: 100%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .numkey {
        color: color($colors, primary);
        background-color: color($colors, darkest);
    }

    .numpad {
        background-color: color($colors, darkest);
    }

    .localbutton {
        margin-top: 20px;
    }
}
