<ion-content no-bounce>
	<div class="background">
		<div id="container">

            <!-- Logo -->
            <div class = "logo">
                <img src="../assets/imgs/dinein_logo.png"/>
            </div>


				<div style="margin-top: 30px;">
					<ion-item class="inputfield">
						<ion-input placeholder="e-mail"
											 [(ngModel)]="email"></ion-input>
							<button ion-button item-end class="xbutton"
											*ngIf="email != null"
											(click)="email = null">x</button>
					</ion-item>
					<ion-item class="inputfield">
						<ion-input type="Password" placeholder="Password"
											 [(ngModel)]="password"></ion-input>
						<button ion-button item-end class="xbutton"
											*ngIf="password != null"
											(click)="password = null">x</button>
					</ion-item>
					<button class="localbutton" ion-button block
						(click)="executeLogin()">Login
					</button>
					<button class="localbutton" ion-button outline block
						(click)="goToCreateUser()">Create User
					</button>
				</div>
		</div>
	</div>
</ion-content>
