page-add-party {

    #container {
        width: 325px;
        padding-top: 70px;
        margin-left: auto;
        margin-right: auto;
    }

    #reservationcheckbox {
        border-style: solid;
        border-radius: 2px;
        border-width: 2px;
        background-color: color($colors, darkest);
    }

    #timeselect {
        margin-top: 10px;
        border-style: solid;
        border-radius: 2px;
        border-width: 2px;
        padding-left: 0px;
        border-color: color($colors, primary);
        background-color: color($colors, darkest);
    }

    .numpadinput .button-inner {
    	justify-content:flex-start;
    	color: color($colors, middark);
	}
	.numpadinputhasval .button-inner{
    	justify-content:flex-start;
    	color: color($colors, primary);
	}

    .numpadinput {
        margin-top: 20px;
        margin-bottom: 20px;
    }

   .numpadinputhasval {
        margin-top: 20px;
        margin-bottom: 20px;
    }

	#numpadmodal {
        height: 100%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .numkey {
        color: color($colors, primary);
        background-color: color($colors, darkest);
    }

    .numpad {
        background-color: color($colors, darkest);
    }

    .localbutton {
        margin-top: 20px;
    }

    .inputbutton {
        height: 50px;
    }
}
