modal-numpad {

    .numkey {
        color: color($colors, primary);
        //background-color: color($colors, darkest);
        background-color: transparent;
    }

    .numpad {
        //background-color: color($colors, darkest);
		background-color: rgba(color($colors, middark), 0.15);
    }
}