<ion-header>
  <div id="topleft">
    <ion-label class="subtitle">View PunchCards</ion-label>
  </div>
  <div id="topright">
      <button ion-button outline block>Filter</button>
    </div>
</ion-header>

<ion-content padding>

  <div id="container">
    <table>
      <tr>
        <th>Name</th>
        <th>Shift Start</th>
        <th>Shift End</th>
        <th>Hours Worked</th>
      </tr>
      <tr *ngFor="let entry of employeeShiftsList">
        <td>{{entry.getName()}}</td>
        <td>{{entry.getStartTime()}}</td>
        <td>{{entry.getEndTime()}}</td>
        <td>{{entry.getTotalTime()}}</td>
      </tr>
      <tr *ngFor="let entry of employeeShiftsList">
        <td>{{entry.getName()}}</td>
        <td>{{entry.getStartTime()}}</td>
        <td>{{entry.getEndTime()}}</td>
        <td>{{entry.getTotalTime()}}</td>
      </tr>
      <tr *ngFor="let entry of employeeShiftsList">
        <td>{{entry.getName()}}</td>
        <td>{{entry.getStartTime()}}</td>
        <td>{{entry.getEndTime()}}</td>
        <td>{{entry.getTotalTime()}}</td>
      </tr>
    </table>
  </div>

</ion-content>