// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// old primary #DEBB58 #DEC06B #7DB9B9

$colors: (
  primary:    #7DB9A8,
  secondary:  #E16E62,
  tertiary:   #60AC6F,
  complementary:#6B89DE,
  triadicTeal:#6BDEC0,
  triadicPurple:#C06BDE,
  danger:     #f53d3d,
  lighter:    #E0D8D0,
  light:      #D0CBC0,
  midlight:   #AEA89D,
  medium:     #928A82,
  middark:	  #696763,
  dark:       #2E2D28,
  darker:	    #252423,
  darkest:	  #1A1815
);


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
$text-color: color($colors, light);
$background-color: color($colors, darkest);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$bar-footer-height: 40px;

//
// BUTTON STYLING
//
$button-ios-text-color: color($colors, darkest);
$button-ios-border-radius: 3px;
$button-ios-background-color-activated: color-shade(color($colors, primary), 50%);

$button-ios-outline-text-color-activated: color($colors, darkest);
$button-ios-outline-border-width: 2px;

//
// TAB STYLING
//
$tabs-ios-background: color($colors, dark);
$tabs-ios-tab-color-active: color($colors, primary);
$tabs-ios-tab-color-inactive: color($colors, medium);
//$tabs-ios-border: 1px solid color($colors, primary);
$tabs-ios-tab-padding-top: 5px;
$tabs-ios-border: 0px;

//
// ACTION SHEET STYLING
//
$action-sheet-ios-background: color($colors, dark);
$action-sheet-ios-border-color: transparents;
$action-sheet-ios-border-radius: 5px;
$action-sheet-ios-border-style: 3px;
$action-sheet-ios-button-background-activated: color($colors, darkest);
$action-sheet-ios-button-border-width: 5px;
$action-sheet-ios-button-border-color: color($colors, primary);
$action-sheet-ios-button-cancel-background: color($colors, dark);
$action-sheet-ios-button-text-color: color($colors, primary);
$action-sheet-ios-button-font-size: 2.4rem;
$action-sheet-ios-title-color: color($colors, medium);
$action-sheet-ios-title-font-size: 2rem;

//
// ALERT STYLING
//
//$alert-ios-background: color($colors, dark);
$alert-ios-border-radius: 5px;
//$alert-ios-message-text-color: color($colors, middark);
$alert-ios-button-background-color-activated: color($colors, darkest);
$alert-ios-button-border-color: color($colors, middark);
//$alert-ios-button-border-width: 1px;
$alert-ios-max-width: 300px;

$datetime-ios-placeholder-color: color($colors, middark);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.dark";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
