// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.md, .ios {

	// MAIN TITLE STYLING
	.maintitle {
        color: color($colors, primary);
        padding-bottom: 10px;
        font-size: 70px;
        font-weight: 500;
    }

    // SUBTITLE STYLING
	.subtitle {
        color: color($colors, primary);
        padding-bottom: 5px;
        font-size: 45px;
        font-weight: 475;
    }

    // SUBSUBTITLE STYLING
    .subsubtitle {
        color: color($colors, primary);
        padding-bottom: 5px;
        font-size: 35px;
        font-weight: 450;
    }

    // HEADER STYLING
    .header {
        color: color($colors, medium);
        font-size: 30px;
        font-weight: 450;
    }

    // Regular Text STYLING
    .regularText {
        color: color($colors, medium);
        font-size: 24px;
        font-weight: 350;
    }

    // small Text STYLING
    .smalltext {
        //color: color($colors, medium);
        font-size: 16px;
        font-weight: 500;
    }

    .background {
        background-color: color($colors, darkest);
        width: 100%;
        height: 100%;
    }

    // TEXT INPUT BOX Styling
    .inputfield {
        border: 2px solid color($colors, primary);
        background-color: color($colors, darkest);
        width: 100%;
        height: 50px;
        margin: 20px auto;
        border-radius: 3px;
        font-size: 15px;
        font-weight: 475;
    }

	// Changes color of text in text input box
	.item-inner, .text-input {
        color: color($colors, primary);
    }
    // Changes color of placeholder in text input box
	.text-input::-webkit-input-placeholder {
		color: color($colors, middark);
	}

    .modalbase {
        background-color: color($colors, dark);
        padding-top: 15px;
        padding-bottom: 2px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 5px;
        
    }

    .modalbutton {
         margin-top: 20px;
    }

    .numpad {
        table-layout: fixed;
        //background-color: color($colors, darkest);
        border-radius: 5px;
        margin-bottom: 15px;
        width: 100%;
        height: 100%;
    }

    .numkey {
        width: 98%;
        height: 100%;
        font-size: 28px;
        font-weight: 600;
        border-radius: 5px;
        margin: 0px;
        //color: color($colors, primary);
        //background-color: color($colors, darkest);
    }

    .localbutton {
        font-size: 15px;
        font-weight: 475;
    }
}