page-management {
	#topleft {
		float: left;
		padding-top: 10px;
		padding-left: 25px;
		width: 75%;
    }

    #topright {
    	float:right;
    	padding-top: 25px;
    	padding-right: 20px;
    	width: 25%;
    }

    #container {
    	float: bottom;
    }

	#restaurantInfo {
        padding: 15px;
        color: color($colors, primary);
        width: 40%;
        display: block;
        margin: auto;
        text-align: right;
        font-size: 150%;
        outline-style: solid;
        outline-color: color($colors, primary);
        border-width: thin;
    }
    .button-block-md{
        margin-top:20px;
        width: 30%;
        position: center;
    }

	.resize {
		width: 650px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;	
	}

	.label {
        float: left;
    }
}
