page-timepunch {

    #container {
        width: auto;
		height: 500px;
        margin-left: auto;
        margin-right: auto;
		display: flex;
		justify-content: center;
    }

    .localbutton {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .punch-textbox {
        text-align: center;
        padding-top: 80px;
        padding-right: 40px;
    }

    .punch-textbox h2 {
		font-size: 35px;
	}

    .numkey {
        color: color($colors, primary);
        background-color: color($colors, dark);
    }

    .numpad {
		background-image: none;
        background-color: transparent;
		padding: 20px;
    }

	.numpad-box {
		//background-color: color($colors, dark);
		margin: 20px;
		width: 25%;
		height: 75%;
	}

    // for buttons spacing
    td {
        padding: 5px;
    }

}
