page-timepunch {
	
    #container {
        width: 325px;
        padding-top: 20px;
        margin-left: auto; 
        margin-right: auto;
    }

    .localbutton {
        margin: 20px auto;
    }

    .numkey {
        color: color($colors, primary);
        background-color: color($colors, dark);
    }

    .numpad {
        background-color: color($colors, dark);
    }
}
