page-edit-employee {

	#container {
		height: 100%;
		width: 40%;
		padding-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}

	.localbutton {
		margin-top: 20px;
	}

	#titlemodal {
        border-radius: 5px;
        padding-top: 15px;
        padding-bottom: 2px;
        padding-left: 30px;
        padding-right: 30px;
        width: 45%;
        height: 90%;
        margin: auto;
    }

    .selectedtitle {
		color: color($colors, primary);
	}

	.title {
		color: color($colors, middark);
	}

	h6 {
		margin-right: 5px;
	}
}
