<ion-header>
	<div id="employeetitle">
			<h3>Employees</h3>
	</div>
</ion-header>

<ion-content no-bounce id="mainview">

	<div id="profileleft">
			<div id="imgcontainer">
				<img id="employeeimage" src="{{selectedEmployee.imageSrc}}">
			</div>
	</div>

	<div id="profileright">
		<h3 class="colorprimary">{{selectedEmployee.getFullName()}}</h3>

		<div id="employeeprofile">
			<div id="labels">
				<h5 class="colormiddark">ID:</h5>
				<h5 class="colormiddark">Job Title:</h5>
				<h5 class="colormiddark">Pay:</h5>
				<h5 class="colormiddark">Phone:</h5>
			</div>
			<div id="employeeinfo">
				<h5 class="colormedium">{{selectedEmployee.ID}}</h5>
				<h5 class="colormedium">{{selectedEmployee.title}}</h5>
				<h5 class="colormedium">{{selectedEmployee.pay.toFixed(2)}} $/hr</h5>
				<h5 class="colormedium">{{selectedEmployee.getPhoneStr()}}</h5>
			</div>
		</div>

		<button class="localbutton" ion-button block outline
						(click)="onEditEmployeePress()">
			Edit Info
		</button>
		<button class="localbutton" ion-button block outline
						(click)="presentPunchPopover($event)">
			View Punch
		</button>
		<button class="localbutton"  ion-button block
						(click)="onCreateEmployeePress()">
			Add New Employee
		</button>
	</div>

</ion-content>

<!-- List of Employees -->
<ion-content id="sideview">
	<div id="employeelist">
		<ion-list scroll="true">
			<button ion-button block outline class="listbutton"
							*ngFor="let employee of employees"
							[ngClass]="{'employee': employee.ID != selectedEmployee.ID,
													'selectedemployee': employee.ID == selectedEmployee.ID}"
							(click)="selectEmployee($event, employee)">
				{{employee.getFullName()}}
			</button>
		</ion-list>
	</div>
</ion-content>

<!--
<ion-split-pane when="xs">
	<div main>
		<div id="editbutton">
			<button ion-button block outline (click)="openEditPage()">
				Edit Info
			</button>

				<button id="addButton" ion-button outline (click)="openCreatePage()">
						Add New Employee
				</button>

		</div>

		<div id="mainbody">
			<div id="employeeprofile">
				<img id="employeeimage" src="{{selectedEmployee.getSrc()}}">
				<h1>{{selectedEmployee.getName()}}</h1>
				<div id="employeeinfo">
					<span class="label">Employee ID:</span> {{selectedEmployee.getID()}}
					<br>
					<span class="label">Title:</span> {{selectedEmployee.getTitle()}}
					<br>
					<span class="label">Pay:</span> {{selectedEmployee.getPay()}}
					<br>
					<span class="label">Phone:</span> {{selectedEmployee.getPhone()}}
				</div>
			</div>
		</div>
		<div id="viewpunchbutton">
			<button ion-button block outline (click)="presentPunchPopover($event)">
				View Punch
			</button>
		</div>
	</div>

	<div id="sidebar">
		<div>

			<h2>
				EMPLOYEES
			</h2>

		</div>
		<div id="employeelist">
			<ion-list>
				<button ion-button block outline *ngFor="let employee of employees" (click)="selectEmployee($event, employee)">
					{{ employee.getName() }}
				</button>
				<button ion-button block outline *ngFor="let employee of employees" (click)="selectEmployee($event, employee)">
					{{ employee.getName() }}
				</button>
				<button ion-button block outline *ngFor="let employee of employees" (click)="selectEmployee($event, employee)">
					{{ employee.getName() }}
				</button>
			</ion-list>
		</div>
	</div>
</ion-split-pane>
-->
