<ion-header>
	<div id="viewpunchbutton">
		<button ion-button block outline (click)="presentPunchPopover($event)">
			View Punch
		</button>
	</div>
	<div>
		<button id="editbutton" ion-button block outline (click)="openEditPage()">
			Edit Info
		</button>
		<button id="addButton" ion-button outline (click)="openCreatePage()">
			Add New Employee
		</button>
		<button id="deleteButton" ion-button outline (click)="deleteAll()">
			Delete All Employees
		</button>
	</div>
	<div id="employeetitle">
		<h3 class="colorprimary">Employees</h3>
	</div>
</ion-header>

<ion-content no-bounce id="mainview">
	<div id="employeeprofile" *ngIf="selectedEmployee; else noEmployees">
		<img id="employeeimage" src="{{selectedEmployee.getSrc()}}">
		<h2 class="colorprimary">{{selectedEmployee.getFullName()}}</h2>
		<div id="employeeinfo">
			<h4 class="colormedium">Employee ID: {{selectedEmployee.ID}}</h4>
			<h4 class="colormedium">Job Title: {{selectedEmployee.title}}</h4>
			<h4 class="colormedium">Pay: ${{selectedEmployee.pay}}/hr</h4>
			<h4 class="colormedium">Phone: {{selectedEmployee.phone}}</h4>
		</div>
	</div>
</ion-content>

<ion-content id="sideview">
	<div id="employeelist">
		<ion-list scroll="true">
			<button ion-button block outline class="listbutton" *ngFor="let employee of employees" [ngClass]="{'employee': employee.ID != selectedEmployee.ID,
                          'selectedemployee': employee.ID == selectedEmployee.ID}" (click)="selectEmployee($event, employee)">
				{{employee.getName()}}
			</button>
			<button ion-button block outline class="listbutton" *ngFor="let employee of employees" [ngClass]="{'employee': employee.ID != selectedEmployee.ID,
                          'selectedemployee': employee.ID == selectedEmployee.ID}" (click)="selectEmployee($event, employee)">
				{{employee.getName()}}
			</button>
			<button ion-button block outline class="listbutton" *ngFor="let employee of employees" [ngClass]="{'employee': employee.ID != selectedEmployee.ID,
                          'selectedemployee': employee.ID == selectedEmployee.ID}" (click)="selectEmployee($event, employee)">
				{{employee.getName()}}
			</button>
		</ion-list>
	</div>
</ion-content>

<ng-template id="noEmployeeMessage" #noEmployees>
	<div id="noEmployeeMessage">There are no employees.</div>
</ng-template>
<!--
<ion-split-pane when="xs">
  <div main>
    <div id="editbutton">
      <button ion-button block outline (click)="openEditPage()">
        Edit Info
      </button>

        <button id="addButton" ion-button outline (click)="openCreatePage()">
            Add New Employee
        </button>

    </div>

    <div id="mainbody">
      <div id="employeeprofile">
        <img id="employeeimage" src="{{selectedEmployee.getSrc()}}">
        <h1>{{selectedEmployee.getName()}}</h1>
        <div id="employeeinfo">
          <span class="label">Employee ID:</span> {{selectedEmployee.getID()}}
          <br>
          <span class="label">Title:</span> {{selectedEmployee.getTitle()}}
          <br>
          <span class="label">Pay:</span> {{selectedEmployee.getPay()}}
          <br>
          <span class="label">Phone:</span> {{selectedEmployee.getPhone()}}
        </div>
      </div>
    </div>
    <div id="viewpunchbutton">
      <button ion-button block outline (click)="presentPunchPopover($event)">
        View Punch
      </button>
    </div>
  </div>

  <div id="sidebar">
    <div>

      <h2>
        EMPLOYEES
      </h2>

    </div>
    <div id="employeelist">
      <ion-list>
        <button ion-button block outline *ngFor="let employee of employees" (click)="selectEmployee($event, employee)">
          {{ employee.getName() }}
        </button>
        <button ion-button block outline *ngFor="let employee of employees" (click)="selectEmployee($event, employee)">
          {{ employee.getName() }}
        </button>
        <button ion-button block outline *ngFor="let employee of employees" (click)="selectEmployee($event, employee)">
          {{ employee.getName() }}
        </button>
      </ion-list>
    </div>
  </div>
</ion-split-pane>
-->