page-employees {
    .no-scroll .scroll-content{
        overflow: hidden;
    }

    #topleft {
        float: left;
        padding-top: 0px;
        padding-left: 20px;
        width: 80%;
    }

    #topright {
        float:right;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        width: 20%;
    }

	#employeeprofile {
        background-color: color($colors, darkest);
        width: 80%;
        height: 100%;
        float: left;
        border-right: 2px solid color($colors, primary);
    }
    #employeeimage {
        padding-top: 15%;
        width: 35%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #employeename {
        color: color($colors, primary);
        text-align: center;
        font-size: 400%;
        font-family: Times;
    }

    #employeelist {
        background-color: color($colors, darkest);
        width: 20%;
        height: 100%;
        float: left;
    }

 
}
